<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../layout/_css.ejs') %>
    <title>About</title>
</head>

<body>
    <%- include('../layout/_navbar.ejs') %>
    <div class="container mt-5">
        <form action="/add-about" method="post">
           
            <label for="">Title</label>
            <input type="text" name="title" class="form-control">
            <br>
            <label for="">Sub Title</label>
            <input type="text" name="subtitle" class="form-control">
            <br>

            <button type="submit" class="btn btn-outline-success">Save</button>
            <a href="/about/GoToAboutList/" class="btn btn-dark">Go ToAbout List</a>
        </form>
    </div>
    <%- include('../layout/_js.ejs') %>
</body>

</html>