<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <title>About</title>
</head>

<body>
    <div class="container mt-5">
        <form action="/about/update-about" method="post">

            <input type="hidden" name="id" value="<%= model.id %>">

            <!-- <label for="">Icon</label>
            <input type="text" class="form-control" name="icon">
            <br> -->
            <label for="">Title</label>
            <input type="text" name="title" class="form-control" value="<%= model.title %>">
            <br>
            <label for="">Sub Title</label>
            <input type="text" name="subtitle" class="form-control" value="<%= model.subtitle %>">
            <br>

            <button type="submit" class="btn btn-outline-success">Update</button>
            <a href="/about/GoToAboutList/" class="btn btn-dark">Go ToAbout List</a>
        </form>
    </div>
</body>

</html>